:root {
    --primary-color: #2978d3;
    --primary-color-dark: #82acef;
    --primary-color-light: #e9f7f7;
    --secondary-color: #3c46fb;
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(135deg, var(--primary-color), var(--primary-color-light));
    /* background-image: url('background_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8; 
    z-index: -1; */
    color: var(--primary-color-dark);
}

.welcome-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    background-color: var(--primary-color-light);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 4px 20px;
    max-width: 500px;
    text-align: center;
}

.welcome-message h1 {
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
}

.welcome-message p {
    font-size: 16px;
    color: #433636;
    margin-bottom: 20px;
}

.welcome-message ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
}

.welcome-message ul li {
    font-size: 16px;
    color: #64ad6f;
    margin-bottom: 10px;
}

.cta-button {
    display: block;
    width: 177px;
    margin: 20px auto;
    padding: 9px 30px;
    background: var(--primary-color);
    border: 1.5px solid var(--primary-color-dark);
    border-radius: 30px;
    color: var(--primary-color-light);
    cursor: pointer;
}
.cta-button:hover {
    background-color: var(--primary-color-dark);
}

.chat-container {
    display: none; /* Hidden by default */
    opacity: 1;
    flex-direction: column;
    max-width: 600px;
    height: 95vh;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    /* box-shadow: rgba(255, 255, 255, 0); */
    /* border: 2px solid var(--primary-color-dark); */
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo {
    width : 40px;
    height: auto; /* Adjust size as needed */
    border-radius: 10px;
    margin-right: 10px; /* Space between logo and title */
}

.chat-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color-light);
}

.care {
    color: var(--secondary-color);
}

.chat-box {
    flex-grow: 1;
    max-height: calc(100vh - 10px);
    padding: 20px;
    max-height: 78vh; /* Set a maximum height for scrolling */
    overflow-y: scroll; /* Enable scrolling */
    background-color: rgba(255, 255, 255, 0);
    /* border: 2px solid var(--primary-color-dark); */
    height: 100%;
    /* Hide scrollbar for Chrome, Safari, and Edge */
    scrollbar-width: none; 
}


.message {
    margin-bottom: 24px;
    padding: 10px;
    border-radius: 28px;
    border: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;

}

.user-message {
    background-color: var(--primary-color);
    align-self: flex-start;
    padding-left: 32px;
    padding-right: 24px;
    color: var(--primary-color-light);
    flex-direction: row-reverse;
}

.bot-message {
    background-color: var(--primary-color);
    align-self: flex-end;
    padding-left: 32px;
    padding-right: 24px;
    color: var(--primary-color-light);
}

.message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    /* border-top: 1px solid var(--primary-color-dark); */
    position: absolute;
    bottom: 0; /* Fix it at the bottom of the container */
    left: 0;
    right: 0;
    align-items: center;
    z-index: 100;
}


.user_img{
	height: 60px;
	width: 60px;
	border:1.5px solid var(--primary-color-light);

}

.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid var(--primary-color-light);
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--primary-color-dark);
    color: var(--primary-color-light);
    margin-right: 10px;
    outline: none;
    padding-left: 40px;
}

#chat-input::placeholder {
    color: var(--primary-color-light);
}

#send-button {
    background-color: var(--secondary-color);
    color: var(--primary-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}
